.container {
  width: 50%;
  margin: 10rem auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main {
  width: 40%;
}

.num-input {
  border: 1px solid #ccc;
  background-color: #e0e0e0;
  width: 100%;
  height: 55px;
  font-size: 1.5rem;
  text-align: end;
}
